@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.crowd .back {
    height: 100vh;
}

.crowd .back .darkenimage {
    height: 115%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 40%;
    margin-top: -115vh;
}

.crowd .back img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.crowd .back span {
    position: absolute;
    top: 38%;
    left: 23%;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 9vw;
    text-shadow: 0.5rem 0.45rem 0.825rem rgba(0, 0, 0, 1);
    letter-spacing: 0.2vw;
}

.tiers {
    /* width: 99.1vw; */
    text-align: center;
    background-color: black;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.tiers .ok {
    margin-top: 5vw;
    font-size: 3vw;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.tiers .all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 5vh; */
}

.tiers .all .tier {
    width: 16vw;
    height: 23vw;
    background-image: linear-gradient(45deg,
            hsl(0deg 1% 55%) 0%,
            hsl(9deg 5% 57%) 19%,
            hsl(16deg 10% 58%) 27%,
            hsl(23deg 14% 59%) 34%,
            hsl(30deg 18% 61%) 41%,
            hsl(37deg 21% 68%) 47%,
            hsl(45deg 26% 74%) 53%,
            hsl(55deg 31% 80%) 59%,
            hsl(60deg 33% 84%) 66%,
            hsl(60deg 32% 86%) 73%,
            hsl(60deg 32% 89%) 81%,
            hsl(60deg 32% 91%) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
    margin: 3vw;
    cursor: pointer;
    padding: 1vw 0.5vw;
}

.tiers .all .tier .before {
    display: block;
}

.tiers .all .tier .after {
    display: none;
    justify-content: center;
    margin-left: 2vw;
    text-align: left;
}

.tiers .all .tier .before span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
    text-shadow: 0px 0px 14px rgb(203, 160, 58);
}

.tiers .all .tier .after ul {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.15vw;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(152, 115, 28);
    padding: 1.5vw;
}

.tiers .all .tier:hover .after {
    display: block;
}

.tiers .all .tier:hover .before {
    display: none;
}

.tiers .all .tier:nth-child(2) {
    background-image: linear-gradient(45deg,
            hsl(60deg 1% 45%) 2%,
            hsl(30deg 3% 50%) 26%,
            hsl(11deg 4% 55%) 37%,
            hsl(347deg 4% 61%) 46%,
            hsl(304deg 3% 65%) 54%,
            hsl(240deg 5% 71%) 61%,
            hsl(269deg 5% 76%) 68%,
            hsl(303deg 5% 81%) 74%,
            hsl(330deg 9% 87%) 81%,
            hsl(347deg 16% 93%) 88%,
            hsl(0deg 100% 99%) 99%);
}

.tiers .all .tier:nth-child(2) .before span {
    text-shadow: 0px 0px 14px rgba(23, 23, 23, 0.975);
}

.tiers .all .tier:nth-child(3) {
    background-image: linear-gradient(45deg,
            hsl(0deg 1% 55%) 0%,
            hsl(50deg 9% 64%) 10%,
            hsl(55deg 18% 71%) 20%,
            hsl(57deg 30% 77%) 30%,
            hsl(55deg 36% 84%) 40%,
            hsl(50deg 37% 90%) 50%,
            hsl(37deg 43% 96%) 60%,
            hsl(266deg 24% 97%) 70%,
            hsl(225deg 44% 90%) 80%,
            hsl(221deg 51% 81%) 90%,
            hsl(218deg 56% 71%) 100%);
}

.tiers .all .tier:nth-child(3) .before span {
    text-shadow: 0px 0px 14px rgba(164, 140, 20, 0.9);
}

.tiers .all .tier:nth-child(4) {
    background-image: linear-gradient(25deg,
            hsl(0deg 1% 64%) 0%,
            hsl(242deg 14% 64%) 12%,
            hsl(241deg 27% 63%) 23%,
            hsl(240deg 40% 61%) 35%,
            hsl(240deg 52% 59%) 46%,
            hsl(241deg 55% 65%) 57%,
            hsl(242deg 51% 76%) 68%,
            hsl(245deg 47% 84%) 79%,
            hsl(252deg 41% 92%) 90%,
            hsl(0deg 100% 99%) 100%);
}

.tiers .all .tier:nth-child(4) .before span {
    text-shadow: 0px 0px 14px rgba(57, 13, 158, 0.975);
}

.tiers .all .tier:nth-child(5) {
    background-image: linear-gradient(45deg,
            hsl(0deg 9% 91%) 0%,
            hsl(104deg 16% 87%) 11%,
            hsl(116deg 27% 84%) 22%,
            hsl(120deg 35% 80%) 33%,
            hsl(122deg 42% 75%) 44%,
            hsl(122deg 43% 77%) 56%,
            hsl(120deg 40% 83%) 67%,
            hsl(115deg 37% 89%) 78%,
            hsl(103deg 31% 94%) 89%,
            hsl(0deg 100% 99%) 100%);
}

.tiers .all .tier:nth-child(5) .before span {
    text-shadow: 0px 0px 14px rgb(27, 163, 61);
}

.tiers .all .tier:nth-child(6) {
    background-image: linear-gradient(45deg,
            hsl(0deg 17% 73%) 0%,
            hsl(4deg 26% 71%) 11%,
            hsl(7deg 34% 69%) 22%,
            hsl(8deg 41% 66%) 33%,
            hsl(10deg 48% 64%) 44%,
            hsl(9deg 50% 68%) 56%,
            hsl(8deg 47% 77%) 67%,
            hsl(8deg 47% 85%) 78%,
            hsl(6deg 48% 93%) 89%,
            hsl(0deg 100% 99%) 100%);
}

.tiers .all .tier:nth-child(6) .before span {
    text-shadow: 0px 0px 14px rgba(188, 38, 27, 0.975);
}

.tiers .all .tier:nth-child(7) {
    background-image: linear-gradient(45deg,
            hsl(0deg 5% 55%) 0%,
            hsl(0deg 4% 60%) 7%,
            hsl(0deg 2% 66%) 15%,
            hsl(0deg 1% 71%) 24%,
            hsl(214deg 10% 71%) 33%,
            hsl(213deg 24% 70%) 43%,
            hsl(212deg 37% 68%) 53%,
            hsl(212deg 43% 71%) 64%,
            hsl(215deg 38% 82%) 75%,
            hsl(221deg 30% 91%) 87%,
            hsl(0deg 100% 99%) 100%);
}

.tiers .all .tier:nth-child(7) .before span {
    text-shadow: 0px 0px 14px rgba(169, 197, 219, 0.975);
}

.desktop {
    display: block;
}

.budget {
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

.budget .txt {
    color: white;
    padding-top: 2vw;
    /* margin-top: 5vh; */
}

.budget .txt span {
    margin-top: 2vw;
    font-family: "montserrat", sans-serif;
    letter-spacing: 0.2vw;
    font-weight: 700;
    font-size: 3vw;
}

.budget .breakup-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
    /* margin-bottom: 5vh; */
}

.budget .breakup-1 .photo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}

.budget .breakup-1 .photo-1 .image-1 {
    height: 20vh;
    width: 20vh;
    border-radius: 20vh;
    margin-bottom: 5vh;
}

.budget .breakup-1 .photo-1 .image-2 {
    height: 60vh;
    width: 40vw;
}

.budget .breakup-1 .chart-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.budget .breakup-1 .chart-1 .total {
    height: 2.5vw;
    width: 20vw;
    background-color: #005f60;
    font-size: 2vw;
    color: white;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 2vw;
    padding: 1vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.mobile {
    display: none;
}

.budget .breakup-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 10vh;
}

.budget .breakup-2 .photo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget .breakup-2 .photo-2 .image-1 {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    margin-right: 5vw;
}

.budget .breakup-2 .photo-2 .image-2 {
    height: 55vw;
    width: 55vw;
}

.budget .breakup-2 .chart-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.budget .breakup-2 .chart-2 .total {
    height: 5vw;
    width: 40vw;
    background-color: #005f60;
    font-size: 4vw;
    color: white;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 4vw;
    padding: 2vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: center;
}

.bg {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vh 2vw 5vh 2vw;
    display: flex;
    justify-content: end;
}

.bg .floater {
    width: 42vw;
    height: 35vh;
    background-color: #008083;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    border-radius: 20vh 0 0 20vh;
    padding: 2vh 1vw 2vh 1vw;
}

.bg .floater img {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    object-fit: contain;
}

.bg .floater .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw 1vh 1vw;
    width: 25vw;
}

.bg .floater .cont .header {
    margin: 1vh 1vw 1vh 1vw;
    font-size: 1.8vw;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 1px #25252597;
    /* width: 20vw;  */
}

.bg .floater .cont .des {
    word-break: break-word;
    word-wrap: break-word;
    color: aliceblue;
    width: 17vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    font-weight: 500;
    /* margin-left: 3vw; */
}

/* .bg .floater .cont button {
    margin: 2vh;
    outline: none;
    border: none;
    height: 5vh;
    width: 12vw;
    background-color: black;
    color: aliceblue;
    border-radius: 1vh;
}
.bg .floater:nth-child(2) {
    float: left;
    width: 38vw;
    border-radius: 0 20vh 20vh 0;
    margin: 60vh 5vh 5vh 0;
    flex-direction: row-reverse;
    background-color: #f71919;
    padding: 2vh 1vw 2vh 1vw;
} */

/* .bg .floater .cont:nth-child(2) {
    margin-top: 3vh;
} */
.crowdform {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
}

.crowdform .formy {
    color: whitesmoke;
    width: 60vw;
    /* background-color: rgba(0, 94, 96, 0.6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 2vw;
    border-radius: 3vw;
    padding: 5vw 0;
    margin: 0 auto;
    margin-bottom: 7vh;
}

.crowdform .formy .title {
    word-break: break-word;
    word-wrap: break-word;
    width: 25vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    display: block;
    margin-bottom: 3vw;
}

.crowdform .formy form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* text-align: left; */
    /* margin-left: 5vw; */
}

.crowdform .formy label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    /* margin-left: 1vw; */
    /* text-align: left; */
}

.crowdform .formy input {
    margin-bottom: 3vw;
    width: 40vw;
    border: none;
    border-radius: 4%/60%;
    background-color: rgba(73, 136, 141, 0.3);
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: 0.8vw 1vw;
    outline: none;
}

.crowdform .formy select {
    margin-bottom: 5vh;
    width: 42vw;
    border: none;
    border-radius: 4%/60%;
    background-color: rgba(73, 136, 141, 0.299);
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: 0.8vw 1vw;
    outline: none;
}

.crowdform .formy option {
    margin-bottom: 5vh;
    width: 40vw;
    border: none;
    border-radius: 4%/60%;
    background-color: rgba(73, 136, 141, 0.751);
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: 0.8vw 1vw;
    outline: none;
}

.crowdform .formy .fform .scan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.crowdform .formy .fform .scan span {
    margin: 0.5vw;
}

.crowdform .formy .submit {
    cursor: pointer;
    width: 20vw;
    height: 3vw;
    border: none;
    border-radius: 8%/50%;
    background-color: #49888d;
    color: whitesmoke;
}

.crowdform .formy .new {
    border-radius: 2vw;
    margin: none;
    border: none;
    outline: none;
    /* height: 60vw; */
    width: 52vw;
}

.formy {
    margin: 10vw;
}

.formy button {
    --glow-color: rgb(224 195 251);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 2rem 5rem;
    color: var(--glow-color);
    font-size: 150%;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 3em 0.5em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

/* .formy button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
} */

/* .formy button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 0.5em var(--glow-spread-color);
} */

.formy button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}

@media (orientation: portrait) {
    .crowd .back span {
        font-size: 11vw;
        top: 45%;
        left: 15%;
    }

    .tiers .ok {
        margin-top: 3vw;
        font-size: 10vw;
        margin-bottom: 3vw;
    }

    .tiers .all .tier {
        width: 39vw;
        margin: 3vw;
        height: 60vw;
    }

    .tiers .all .tier .before span {
        font-size: 4vw;
    }

    .tiers .all .tier .after ul {
        font-size: 3vw;
        padding: 5vw;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .budget .txt-2 {
        color: white;
        padding-top: 10vh;
    }

    .budget .txt-2 span {
        margin-top: 4vw;
        font-family: "montserrat", sans-serif;
        letter-spacing: 0.2vw;
        font-weight: 700;
        font-size: 8vw;
    }

    .crowdform .formy {
        width: 90vw;
    }

    .crowdform .formy .title {
        font-size: 4vw;
        width: 65vw;
        margin-bottom: 5vw;
        margin-top: 3vw;
    }

    .crowdform .formy label {
        font-size: 3.5vw;
        /* margin-left: -20vw; */
    }

    .crowdform .formy input {
        width: 75vw;
        border-radius: 10%/80%;
        font-size: 3vw;
        padding: 2.5vw 3vw;
        margin-bottom: 5vw;
    }

    .crowdform .formy option {
        width: 75vw;
        border-radius: 10%/80%;
        font-size: 3vw;
        padding: 2.5vw 3vw;
    }

    .crowdform .formy select {
        width: 75vw;
        border-radius: 10%/80%;
        font-size: 3vw;
        padding: 2.5vw 3vw;
    }

    .crowdform .formy .fform .scan {
        margin: 5vw;
    }

    .crowdform .formy .fform .scan span {
        margin: 1.5vw;
    }

    .crowdform .formy .submit {
        width: 30vw;
        height: 10vw;
        border-radius: 19%/50%;
        font-size: 4vw;
    }

    .formy {
        margin: 20vw 0 20vw 0;
    }

    .formy button {
        padding: 1rem 2.5rem;
        font-size: 100%;
    }
}