@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.nav {
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 5% 1fr 4fr 5%;
    z-index: 999;
}

.nav-bg {
    background-color: rgba(0, 0, 0, 0.714);
    /* background-color: rgb(0, 95, 96, 0.714); */
}

.linklogo {
    grid-column: 2/3;
}

.logo {
    width: 11vw;
    display: block;
    position: relative;
}

.logo:hover {
    bottom: 0.2rem;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navlinks li {
    list-style: none;
}
.navlinks li:hover {
    margin-bottom: 0.3rem;
}

.navlinks .linktext {
    text-decoration: none;
    text-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.95);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.navlinks .linktext:hover {
    text-shadow: 0px 0px 1rem rgb(255 255 255 / 95%);
    /* -webkit-text-stroke-width: 0.01px; */
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
    /* color: rgb(255, 255, 255); */
}

.nav-mobile {
    display: none;
}

@media (orientation: portrait) {
    /* Displaying mobile navbar and also converting logo property */
    .nav,
    .nav-mobile {
        display: block;
        position: fixed;
        top: 0;
    }

    /* Hiding desktop navbar */
    .navlinks {
        display: none;
    }

    .logo {
        width: 35vw;
        display: block;
        margin: 0 auto;
    }

    .slide {
        height: 105vh;
        width: 50vw;
        background-color: rgba(22, 21, 21, 0.89);
        transition: 0.5s ease;
        margin-left: -50vw;
        /* transform: translateX(-50vw); */
    }

    .slide h1 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 7vw;
        font-weight: 600;
        text-align: right;
        padding: 10% 0;
        padding-right: 10%;
    }

    .moblinks li {
        list-style: none;
    }

    .mob-linktext {
        text-decoration: none;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 3.5vw;
        font-weight: 400;
        letter-spacing: 0.05rem;
        display: block;
        padding: 10% 10%;
        border-bottom: 0.1rem #807373ad solid;
        transition: 0.2s ease-out;
    }

    .nav-mobile input {
        opacity: 0;
        z-index: 2;
        position: fixed;
        height: 10vw;
        width: 11vw;
        left: 5vw;
        top: 4vw;
    }

    .toggleslide {
        position: absolute;
        height: 9vw;
        width: 9vw;
        top: 6vw;
        left: 6vw;
        z-index: 1;
        border-radius: 2px;
    }

    .toggleslide .common {
        position: absolute;
        height: 1vw;
        width: 9vw;
        background-color: rgb(255, 255, 255);
        border-radius: 3.125rem;
        transition: 0.3s ease;
    }

    .toggleslide .top_line {
        top: 15%;
        transform: translate((-50%, -50%));
    }
    .toggleslide .middle_line {
        top: 45%;
        transform: translate((-50%, -50%));
    }
    .toggleslide .bottom_line {
        top: 75%;
        transform: translate((-50%, -50%));
    }

    input:checked ~ .toggleslide .top_line {
        top: 45%;
        width: 11vw;
        transform: rotate(45deg);
    }
    input:checked ~ .toggleslide .bottom_line {
        top: 45%;
        width: 11vw;
        transform: rotate(-45deg);
    }
    input:checked ~ .toggleslide .middle_line {
        top: 45%;
        width: 11vw;
        transform: rotate(-45deg);
    }

    input:checked ~ .slide {
        /* transform: translateX(0); */
        margin-left: 0;
        width: 50vw;
    }
}
